*{
    margin: 0;
    padding: 0;
}
nav {
    margin-top: 50px;
    margin-right: 30px;
    float: right;
    width: 30%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav a {
    font-family:'Roboto Condensed';
    color: white;
}

nav li :hover {
    color: rgb(207, 204, 204);
}

header {
    background-image:url(./images/1920x1080-95116-abstract-dark-black-minimalism-minimalist-hd-4k.jpg);
    height: 980px;
}


#whoAmI {
    color: white;
    padding-top: 350px;
    margin-left: 20px;
}

.prenom{
    font-family:'Roboto Condensed';
    font-weight: 300;
    font-size: 100px;
    line-height: 95px;
}

.nom{
    font-family:'Roboto Condensed';
    font-weight: 700;
    font-size: 120px;
    line-height: 95px;
}

.work{
    margin-top: 20px;
    margin-bottom: 5px;
    font-family:'Roboto Condensed';
    font-weight: 400;
}

.presentation{
    font-family:'Roboto Condensed';
    font-weight: 300;
    font-size: 15px;
    width: 50%;
}

.skillCard{
    width: 500px;
    height: 200px;
    background-color: #f5f5f5;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.88);
}


.cardLine{
    display: flex;
    justify-content: space-around;
}

#skills{
    margin-top: 50px;
    position: relative;
}

.skillsTitle{
    font-family:'Roboto Condensed';
    text-align: center;
    font-size: 80px;
    font-weight: 300;
}

.skillsTitleBack{
    font-family:'Roboto Condensed';
    text-align: center;
    opacity: 0.05;
    color: #5b5963;
    font-size: 150px;
    position: absolute;
    top: -50px;
    left: 10%;
    right: 10%;
}

.size{
    width: 450px;
    height: 450px;
}

.spanSkills{
    font-family:'Roboto Condensed';
    margin-top: 20px;
    color: black;
}

.skillCard :hover{
    cursor: pointer;
}

.divGit i {
    margin: 10px;
}

a{
    text-decoration: none;
}

#projets{
    width: 100%;
    height: 1000px;
    background: url(./images/1920x1080-95116-abstract-dark-black-minimalism-minimalist-hd-4k.jpg);
    margin-top: 100px;
    color: white;
}